@import 'tailwindcss';

@source "../internal";
@source "../*.go";

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: all;
}

@variant dark {
  &:where(
      [data-theme='dark'] *,
      [data-theme='dim'] *,
      [data-theme='material-dark'] *
    ) {
    @slot;
  }
  &:not(
      [data-theme='light'] *,
      [data-theme='contrast'] *,
      [data-theme='material'] *
    ) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

@layer utilities {
  .container {
    padding-inline: calc(var(--spacing) * 4);
    margin-inline: auto;
  }

  @media (min-width: 48rem) {
    .container {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .container {
      padding-inline: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 80rem) {
    .container {
      padding-inline: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 96rem) {
    .container {
      padding-inline: calc(var(--spacing) * 24);
    }
  }

  .grainy {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  .animate-background-shift {
    background-size: 400% 400%;
    animation: background-shift 8s infinite;
  }

  .custom-fade-in {
    animation: fade-in 1s ease-out;
  }

  .starting\:scale-110 {
    @starting-style {
      scale: 1.1;
    }
  }

  .starting\:blur-md {
    @starting-style {
      filter: blur(12px);
    }
  }
}

@keyframes background-shift {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

@import './themes/space-asteroid-belt.css';
@import './themes/space-asteroid-belt-light.css';
